<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Base64DeSerializerServlet</servlet-name>
        <servlet-class>com.demo.servlet.Base64DeSerializerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Base64DeSerializerServlet</servlet-name>
        <url-pattern>/base64</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BinaryDeSerializerServlet</servlet-name>
        <servlet-class>com.demo.servlet.BinaryDeSerializerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BinaryDeSerializerServlet</servlet-name>
        <url-pattern>/binary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.demo.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>
