<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name = "hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name = "hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/SecVulns</property>
    <property name = "hibernate.connection.username">root</property>
    <property name = "hibernate.connection.password">123456</property>
    <property name = "hbm2ddl.auto">update</property>
    <property name = "show_sql">true</property>
    <property name = "hibernate.jdbc.batch_size">50</property>
    <mapping class = "com.ppp.Users"/>
  </session-factory>
</hibernate-configuration>